#map {
 height: 800px;
 width: 100%;
}
button{
  color: white;
  position: fixed;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}


div.newEvent{

  display: none;

  z-index: 100;
  position: fixed;
  background-color: #808080;
  top: 10%;
  bottom: 10%;
  left: 20%;
  right: 20%;
  opacity: 10;

  padding: 10px;
}
textarea{
  width: 100%;
}
